<!DOCTYPE html>

<html>

<head>
    <title> About </title>
     <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href = './css/styles.css'>
</head>

<body>


    <div class="main-content">
        {{>header}}
         <div>
            <a href="https://rupam0912.github.io" style="text-decoration: none; color:brown" target="_blank">Click Here</a> to connect with me!
        </div>
        <img class="potrait" src="/img/pukai.jpg">
    </div>

   
   
    {{>footer}}
</body>

</html>