<header>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{title}}</h1>
                    <p class="lead">This is a simple node app for showing weather for different geographical location
                    </p>
        </div>
    </div>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>

</header>